<template>

	<ul class="list-inline">
        <li v-for="star in stars">&#9733;</li>   
        <li v-for="star in total_stars - stars">&#9734;</li>   
    </ul>

</template>

<script>
    
    export default{

        props: ["stars"],

        data() {
            return {
                total_stars: 5
            }
        }
    }
</script>

<style scoped>
    ul{display: inline; margin-left: 5px;}
</style>