<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Hotels List</div>

                    <div class="panel-body">
                        
                        <hotel v-for="hotel in hotels" :hotel="hotel"></hotel>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Hotel from '../hotels/Hotel.vue'; 

    export default {

        data() {
            return {
                hotels: []
            }
        },

        components: {
            Hotel
        },

        mounted() {
            axios.get('/api/hotels').then(response => this.hotels = response.data);
        }
    }
</script>

<style scoped>
    .panel-heading{font-size: 24px;}
</style>