<template>

	<article>
        <div class="row">
            <div class="col-sm-8">
                <h4>{{ hotel.name }}</h4>
                <p>Distance: {{ hotel.distance }} Km</p>
                <p>Category: <star :stars="hotel.category"></star></p>
            </div>
            <div class="col-sm-4">
                <div class="price">{{ hotel.price }} €</div>
            </div>
        </div>
    </article>

</template>

<script>
    
    import Star from '../commun/Stars.vue';

    export default{

        props: ["hotel"],

        components: {
            Star
        }
    }
</script>

<style scoped>
    article{border-bottom: 1px solid #ccc; padding: 10px;}
    article:last-child{border: none;}
    .price{font-size: 40px; text-align: right;}
</style>